.idea/*
.DS_Store
.AppleDouble
.LSOverride
Icon
.codekit
wordpress-social-invitations.zip

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

.svn/
*.codekit
languages/popups-it_IT.po
languages/popups-it_IT.mo

node_modules/
